<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
<div class="navigation-container">
    <div class="navigation-header-container">
        <h1 class="ui header">Progressive Mental</h1>
    </div>
    <div class="navigation-links">
        <ul>
            <li><a>Tracker</a></li>
            <li><a>Forum</a></li>
            <li><a>Blog</a></li>
            <li><a>Updates</a></li>
        </ul>
    </div>
</div>

