<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
<div class="info-container">
    <div class="welcome-message">
        <div class="welcome-text">
            <p>Mental Health Tracking
            <br> for all, unlock achivements and more! <br>
            <button>See how it Works!</button>
            </p>
        </div>
        <div class="welcome-img"> 
            <img src="\assets\Images\people.png" alt="">
        </div>
    </div>
</div>